h3{
    font-family:Oswald;
}
body{
    background-image: url("background.jpg");
    background-position: center;
}
#copyrightfooter{
    position: fixed;
    bottom: 0;
    background-color: lightgrey;
    width: 100%;
    height: fit-content;
    font-family:Oswald;
    font-size:15px;
}
.btn-warning{
   width:25%;
   font-family:Oswald;
   font-size: 15px;  
}
canvas{
    margin-top: 100px;
}